{{ define "new_button" }}
    {{ turboFrame "new_todo" }}
        <div class="top-actions">
            <a class="btn" href="/todos/new">+ 新しい TODO</a>
        </div>
    {{ turboFrameEnd }}
{{ end }}
