{{ define "streams_create_success" }}
    {{ turboStreamAppend "todos" }}
        {{ template "todo_row" .Todo }}
    {{ turboStreamEnd }}
    {{ turboStreamReplace "new_todo" }}
        {{ template "new_button" . }}
    {{ turboStreamEnd }}
{{ end }}
