{{ define "content" }}
    {{ template "new_button" . }}

    <div class="todos" id="todos">
    {{ if .Todos }}
        {{ range .Todos }}
            {{ template "todo_row" . }}
        {{ end }}
    {{ else }}
        <p class="empty">まだ TODO はありません。</p>
    {{ end }}
    </div>
{{ end }}
