package main

templ Index(todos []*Todo) {
	@Layout() {
		@NewButton()
		<div class="todos" id="todos">
			if len(todos) == 0 {
				<p class="empty">まだ TODO はありません。</p>
			} else {
				for _, t := range todos {
					@TodoRow(t)
				}
			}
		</div>
	}
}
