package main

import "github.com/kakkky/hotwire-go/turbo"

templ NewButton() {
	@turbo.Frame("new_todo") {
		<div class="top-actions">
			<a class="btn" href="/todos/new">+ 新しい TODO</a>
		</div>
	}
}
